$body-bg : #262626;
$clock-border: #ff5f5f;
$clock-bg: #fff;
$shadow-color: #e23232;
$top: calc(50% - 3px);

body
{
    margin: 0;
    padding: 0;
    background: $body-bg;
}

.clockwise
{
    content: '';
    position: absolute;
    top: $top;
    left: 50%;
    height: 3%;
    background: $body-bg;
    border-radius: 3px;
    transform-origin: left;
}

.absolute-center-parent
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span
{
    @extend .absolute-center-parent;
    display: block;
    width: 15px;
    height: 15px;
    background-color: $clock-border;
    z-index: 1;
    border-radius: 50%;
}

.clock
{
    @extend .absolute-center-parent;
    width: 250px;
    height: 250px;
    border: 15px solid $clock-border;
    border-radius: 50%;
    background: $clock-bg url(../img/clock_face.svg) no-repeat;
    background-size: cover;
    box-shadow: -2px 2px 0 $shadow-color, inset 0 0 20px rgba($color: #000000, $alpha: 0.5);

    &:before
    {
        @extend .clockwise;
        width: 30%;
        animation: animation-clock 4s linear infinite;
    }

    &:after
    {
        @extend .clockwise;
        width: 20%;
        animation: animation-clock 48s linear infinite;
    }
}

@keyframes animation-clock
{
    0%
    {
        transform: rotate(-90deg);
    }
    100%
    {
        transform: rotate(270deg);
    }
}